{% extends "layout.html" %}
{% block title %}Track Drive Times for New Houses{% endblock %}
{% block content %}
{{ super() }}
<head>
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.css"
        rel="stylesheet" type="text/css">
        
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.js"></script>


</head>
<body>
<H2> {{dest}} </h2>
<H1>Observed Drive Times by House</H1>
    <form action="/">
    <select name="time">
    	{% for time in times %}
    		{% if time == current_time %}
    			<option selected value="{{ time }}">{{ time }}</option> 
    		{% else %} 
    			<option value="{{ time }}">{{ time }}</option> 
    		{% endif %}
    	{% endfor %}
    </select>
    <input type="submit">
    </form>
    {{ oscript|safe }}
    {{ odiv|safe }}
    </div>
<div>
 <h1>Add a new Address for Tracking</h1>
 <form action="{{ url_for('add_house') }}", method="POST">
     <dl>
         <dt>Address:
         <dd><input type=text name="Address" required/>
     </dl)
     <br>
<p><input type=submit value=Enter>
  </form>    
</div> 
</body>
{% endblock content %}
