<!DOCTYPE html>
<html>
  <head>
    <title>Drive Time Estimator</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo">Drive Time Tool</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('surface_maps') }}"> Surface Street Routes </a></li>
            <li><a href="{{ url_for('hwy_maps') }}"> Highway Routes </a></li> 
            <li><a href="{{ url_for('all_estimates') }}"> One Time Estimates </a></li>

          </ul>
        </nav></strong>
      </div>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>